@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?fhwxef");
  src: url("fonts/icomoon.eot?fhwxef#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?fhwxef") format("truetype"), url("fonts/icomoon.woff?fhwxef") format("woff"), url("fonts/icomoon.svg?fhwxef#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-fill:before {
  content: "";
  cursor: pointer;
}

.icon-home:before {
  content: "";
  cursor: pointer;
}

.icon-send:before {
  content: "";
  cursor: pointer;
}

.icon-dots-h:before {
  content: "";
  cursor: pointer;
}

.icon-message:before {
  content: "";
  cursor: pointer;
}

.icon-search:before {
  content: "";
  cursor: pointer;
}

.icon-user:before {
  content: "";
  cursor: pointer;
}

.icon-bookmark-o:before {
  content: "";
  cursor: pointer;
}

.icon-heart-o:before {
  content: "";
  cursor: pointer;
}

.icon-heart:before {
  content: "";
  cursor: pointer;
}

.icon-compass2:before {
  content: "";
  cursor: pointer;
}

.icon-facebook:before {
  content: "";
  cursor: pointer;
}

.icon-instagram:before {
  content: "";
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fafafa;
  font-size: 14px;
}

main, header, footer, nav {
  display: block;
}

main, footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

a, a:hover, a:link, a:active, a:visited {
  color: #385185;
  text-decoration: none;
}

input[type=submit], input[type=text], input[type=password], input[type=search] {
  background-color: #fafafa;
  outline: none;
  width: 100%;
  border-radius: 3px;
  padding: 8px 5px;
  line-height: 18px;
}

input[type=text], input[type=password], input[type=search] {
  border: solid 1px rgba(142, 142, 142, 0.3);
  font-size: 16px;
}

input[type=submit] {
  margin: 10px 0;
  border: none;
  background-color: #b2dffc;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

ul, li {
  list-style: none;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-small {
  font-size: 12px;
}

.disabled {
  color: #8e8e8e;
}

.p-20 {
  padding: 20px;
}

.login {
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: flex-row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

@media all and (min-width: 450px) {
  .card {
    border: solid 1px rgba(142, 142, 142, 0.3);
    background-color: #ffffff;
  }
}
.card-header, .card-body, .card-footer {
  width: 100%;
}

.input__container {
  margin: 0 40px 6px;
}
.input__container label {
  position: relative;
}
.input__container label span {
  display: inline-block;
  position: absolute;
  left: 7px;
  height: 36px;
  line-height: 36px;
  transition: all 0.15s linear;
}
.input__container label span.up {
  top: -8px;
  font-size: 10px;
  line-height: 8px;
}
.input__container label span.up ~ input {
  font-size: 12px;
  padding: 14px 0 2px 8px;
}

.divider {
  position: relative;
  margin: 10px 40px 30px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #8e8e8e;
}
.divider :before, .divider :after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 1px);
  width: 40%;
  border-bottom: solid 1px rgba(142, 142, 142, 0.3);
}
.divider :before {
  left: 0;
}
.divider :after {
  right: 0;
}

.footer {
  margin: 0 auto;
  padding: 38px 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}
@media all and (max-width: 785px) {
  .footer {
    max-width: 360px;
    justify-content: center;
    padding: 0 20px;
  }
  .footer ul {
    text-align: center;
  }
}
.footer .footer__link {
  margin: 0 7px 16px 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.login {
  margin: 20px auto;
}
@media all and (min-width: 450px) {
  .login {
    margin: 95px auto;
  }
}
.login .phone-image {
  position: relative;
  background: url("../img/phone.png");
  background-repeat: no-repeat;
  background-size: 454px 618px;
  background-position: center;
  flex-basis: 454px;
  margin-left: -35px;
  margin-right: -15px;
  width: 100%;
  height: 618px;
}
@media all and (max-width: 875px) {
  .login .phone-image {
    display: none;
  }
}
.login .phone-image .carousel {
  display: block;
  position: absolute;
  top: 99px;
  right: 63px;
  z-index: 1;
  width: 240px;
  height: 427px;
  background: url("../img/phone_1.jpg");
  animation: carousel 25s linear infinite;
}
@keyframes carousel {
  0%, 20.625% {
    background: url("../img/phone_1.jpg");
    opacity: 1;
  }
  20.625%, 39.125% {
    background: url("../img/phone_2.jpg");
    opacity: 1;
  }
  10.3125% {
    opacity: 1;
  }
  41.25%, 57.625% {
    background: url("../img/phone_3.jpg");
    opacity: 1;
  }
  22.1875% {
    opacity: 1;
  }
  61.875%, 76.125% {
    background: url("../img/phone_4.jpg");
    opacity: 1;
  }
  34.0625% {
    opacity: 1;
  }
  82.5%, 94.625% {
    background: url("../img/phone_5.jpg");
    opacity: 1;
  }
  45.9375% {
    opacity: 1;
  }
}
.login .right-side {
  width: 350px;
  margin-top: 10px;
}
.login .right-side .card {
  max-width: 350px;
  margin-bottom: 10px;
}
.login .right-side .card:nth-child(1) {
  margin-top: 20px;
}
.login .right-side .card:nth-child(1) .card-header {
  margin: 30px auto 40px;
  background: url("../img/640px-instagram_logo.svg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -10px;
  height: 51px;
  width: 185px;
}
.login .right-side .card .card-footer p {
  margin: 20px 0;
}
.login .right-side .card .card-footer p:not(.text-small) {
  font-weight: bold;
}
.login .right-side .card:nth-child(2) {
  padding: 10px 0;
  margin-bottom: 10px;
}
.login .right-side .card:nth-child(2) p {
  padding: 10px;
}
.login .right-side .card:nth-child(2) p a {
  font-weight: 600;
  color: rgba(0, 149, 246, 0.7);
}
.login .right-side .store p {
  margin: 10px 0;
}
.login .right-side .store img {
  width: 45%;
}

.nav__container .nav {
  padding: 10px 0 5px;
  margin: 0 auto;
  max-width: 975px;
}
.nav__container .nav .logo img {
  width: 103px;
}
.nav__container .nav .menu ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__container .nav .menu ul li {
  margin-left: 20px;
}
.nav__container .nav .menu ul li [class*=icon-] {
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  color: #000;
}

.icon-avatar {
  width: 22px;
  height: 22px;
  margin-top: 3px;
  border-radius: 50%;
  background-color: red;
  background: url("../img/ig-ico.png");
  background-size: cover;
}

.user {
  height: 100%;
  font-weight: 600;
  color: #262626;
}
.user a {
  display: inline-block;
  color: #262626;
  line-height: 100%;
  vertical-align: middle;
}

.post {
  margin: 0 auto 10px;
  max-width: 600px;
  height: 100%;
}
.post [class*=icon-]:not(.icon-dots-h) {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  width: 24px;
  height: 24px;
}
.post .card-header {
  height: 45px;
  padding: 10px;
}
.post .post-body {
  width: 100%;
}
.post .post-body img {
  width: 100%;
}
.post .post-footer {
  width: 100%;
  padding: 10px;
}
.post .post-footer .post__like-comment span {
  margin-right: 5px;
}
.post .post-footer .post__likes {
  margin: 5px 0;
  font-weight: 600;
}
.post .post-footer .post__desc-comm {
  width: 100%;
  padding-left: 10px;
}

.liked {
  color: #fb3958;
}

/*# sourceMappingURL=style.css.map */
